<h1>Welcome to Hacker-News!</h1>
 
<h3>The best site to review article links</h3>

<h3>Here are some of your posts:</h3>

<ul>
    <% @posts.each do |post| %>
      <li><%=post.author%></li>
      <p><%= link_to post.link, post_path(post) %></p>
    <% end %>
</ul> <br>





<%= link_to "New Post", new_post_path %>

