<br>

<h1><%= @post.link %></h1>

<%= link_to "Edit", edit_post_path(@post) %> <br>
<%= link_to "Delete", post_path(@post), 
                        :data => {:confirm => "Are you sure?",
                                    :method => "delete"} %>

